@import "tailwindcss";

html,
body {
	background-color: #f2f1ed;
	font-family: "Karla";

	@apply text-sm md:text-base;
}
body {
	min-height: 100dvh;
	display: grid;
	grid-template-rows: auto 1fr;

	@apply py-[30px] px-[35px] md:px-[50px] lg:px-[70px] md:py-[38px] lg:py-[48px];
}
