---
import { getLangFromUrl } from "../i18n/utils";
import { cn } from "../utils/cn";
const lang = getLangFromUrl(Astro.url);
---

<ul class="flex items-center gap-4 text-[14px]">
	<li class={cn(lang === "es" ? "font-bold" : "opacity-55")}>
		<a href={`/es/`}>ES</a>
	</li>
	<li><div class="h-[20px] w-[1px] bg-black"></div></li>
	<li class={cn(lang === "en" ? "font-bold" : "opacity-55")}>
		<a href={`/en/`}>EN</a>
	</li>
</ul>

<script type="module">
	import { initI18n } from "../i18n.js";

	let i18n;

	async function changeLang(lang) {
		i18n = await initI18n(lang);
		document.getElementById("output").innerHTML = i18n.t("key");
		localStorage.setItem("lang", lang); // opcional
	}

	document.addEventListener("DOMContentLoaded", async () => {
		const savedLang = localStorage.getItem("lang") || "en";
		changeLang(savedLang);
	});
</script>
